body {
  background-color: #aec0c4;
  color: black;
}

.section-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  max-width: 700px;
}
